<div class="container jumbotron mx-4">
  <br>
  <br><br><br><br><br><br>
  <h1 class="text-center">WEB ADMIN HOMEPAGE</h1>
  <!-- Début row des packages -->
  <div class="row mt-3 mb-5">
    <div *ngIf="showPackageForm" class="form-container">
      <div class="col-md-8 mx-auto">
        <h2 class="mat-h2 text-center">NEW PACKAGE</h2>
        <!-- Formulaire pour la création de package -->
        <form [formGroup]="packageForm" (submit)="createPackage()" class="package-form">
          <mat-form-field class="form-group">
            <mat-label>Description :</mat-label>
            <input matInput type="text" id="description" formControlName="description" />
          </mat-form-field>

          <mat-form-field class="form-group">
            <mat-label>Poids (en kg):</mat-label>
            <input matInput type="number" id="weight" formControlName="weight" />
          </mat-form-field>

          <mat-form-field class="form-group">
            <mat-label>Largeur (en cm):</mat-label>
            <input matInput type="number" id="width" formControlName="width" />
          </mat-form-field>

          <mat-form-field class="form-group">
            <mat-label>Hauteur (en cm):</mat-label>
            <input matInput type="number" id="height" formControlName="height" />
          </mat-form-field>

          <mat-form-field class="form-group">
            <mat-label>Profondeur (en cm):</mat-label>
            <input matInput type="number" id="depth" formControlName="depth" />
          </mat-form-field>

          <mat-form-field class="form-group">
            <mat-label>Nom de l'expéditeur:</mat-label>
            <input matInput type="text" id="from_name" formControlName="from_name" />
          </mat-form-field>

          <mat-form-field class="form-group">
            <mat-label>Adresse de l'expéditeur:</mat-label>
            <input matInput type="text" id="from_address" formControlName="from_address" />
          </mat-form-field>

          <div formGroupName="from_location">
            <mat-form-field class="form-group">
              <mat-label>Latitude de l'expéditeur:</mat-label>
              <input matInput type="number" id="from_lat" formControlName="lat" />
            </mat-form-field>

            <mat-form-field class="form-group">
              <mat-label>Longitude de l'expéditeur:</mat-label>
              <input matInput type="number" id="from_lng" formControlName="lng" />
            </mat-form-field>
          </div>

          <mat-form-field class="form-group">
            <mat-label>Nom du destinataire:</mat-label>
            <input matInput type="text" id="to_name" formControlName="to_name" />
          </mat-form-field>

          <mat-form-field class="form-group">
            <mat-label>Adresse du destinataire:</mat-label>
            <input matInput type="text" id="to_address" formControlName="to_address" />
          </mat-form-field>

          <div formGroupName="to_location">
            <mat-form-field class="form-group">
              <mat-label>Latitude du destinataire:</mat-label>
              <input matInput type="number" id="to_lat" formControlName="lat" />
            </mat-form-field>

            <mat-form-field class="form-group">
              <mat-label>Longitude du destinataire:</mat-label>
              <input matInput type="number" id="to_lng" formControlName="lng" />
            </mat-form-field>
          </div>

          <button type="submit" class="btn btn-primary">Créer Package</button>
        </form>
      </div>
    </div>
    <div class="col-md-8 mt-3 mb-5" *ngIf="PackagesList">
      <h2 class="text-center">PACKAGES LISTS</h2>
      <!-- Tableau pour la liste des packages -->
      <table mat-table [dataSource]="packages" class="mat-elevation-z8 demo-table">
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let package"> {{ package.description }} </td>
        </ng-container>

        <!-- Source Column -->
        <ng-container matColumnDef="source">
          <th mat-header-cell *matHeaderCellDef> Source </th>
          <td mat-cell *matCellDef="let package"> {{ package.from_address }} </td>
        </ng-container>

        <!-- Destination Column -->
        <ng-container matColumnDef="destination">
          <th mat-header-cell *matHeaderCellDef> Destination </th>
          <td mat-cell *matCellDef="let package"> {{ package.to_address }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight (kg) </th>
          <td mat-cell *matCellDef="let package"> {{ package.weight }} </td>
        </ng-container>

        <!-- Height Column -->
        <ng-container matColumnDef="height">
          <th mat-header-cell *matHeaderCellDef> Height (cm) </th>
          <td mat-cell *matCellDef="let package"> {{ package.height }} </td>
        </ng-container>

        <!-- Depth Column -->
        <ng-container matColumnDef="depth">
          <th mat-header-cell *matHeaderCellDef> Depth (cm) </th>
          <td mat-cell *matCellDef="let package"> {{ package.depth }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let package">
            <button mat-icon-button (click)="editPackage(package)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deletePackage(package)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center" style="height: 50vh;">
      <div class="">
        <button mat-raised-button color="primary" (click)="showPackageFormPanel()">
          <mat-icon aria-hidden="false">add</mat-icon> Créer un Package
        </button>
      </div>
    </div>
  </div>
  <!-- Fin du row des packages -->

  <!-- Début du row des deliveries -->
  <div class="row mt-3 mb-5">
    <div *ngIf="showDeliveryForm" class="form-container">
      <div class="col-md-8 mx-auto">
        <h2 class="text-center">Créer une Nouvelle Livraison</h2>
        <!-- Formulaire pour la création de livraison -->
        <form [formGroup]="deliveryForm" (submit)="createDelivery()" class="delivery-form">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID du Package :</mat-label>
            <mat-select formControlName="package_id">
              <mat-option *ngFor="let package of packages" [value]="package._id">
                {{ package.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Heure de ramassage :</mat-label>
            <input type="datetime-local" id="pickup_time" formControlName="pickup_time" matInput required>
          </mat-form-field>

          <div formGroupName="location">
            <mat-form-field appearance="fill" class="half-width">
              <mat-label>Latitude :</mat-label>
              <input type="number" id="lat" formControlName="lat" matInput placeholder="Latitude" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="half-width">
              <mat-label>Longitude :</mat-label>
              <input type="number" id="lng" formControlName="lng" matInput placeholder="Longitude" required>
            </mat-form-field>
          </div>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Statut :</mat-label>
            <mat-select id="status" formControlName="status">
              <mat-option value="open">Open</mat-option>
              <mat-option value="picked-up">Picked Up</mat-option>
              <mat-option value="in-transit">In Transit</mat-option>
              <mat-option value="delivered">Delivered</mat-option>
              <mat-option value="failed">Failed</mat-option>
            </mat-select>
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary">Créer Livraison</button>
        </form>
      </div>
    </div>
    <div class="col-md-8 mt-3 mb-5" *ngIf="DeliveriesList">
      <h3>Deliveries</h3>
      <!-- Tableau pour la liste des livraisons -->
      <table mat-table [dataSource]="deliveries" class="mat-elevation-z8 demo-table">
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let delivery">{{ delivery.status }}</td>
        </ng-container>

        <!-- Package ID Column -->
        <ng-container matColumnDef="package_id">
          <th mat-header-cell *matHeaderCellDef>Package ID</th>
          <td mat-cell *matCellDef="let delivery">{{ delivery.package_id }}</td>
        </ng-container>

        <!-- Start Time Column -->
        <ng-container matColumnDef="start_time">
          <th mat-header-cell *matHeaderCellDef>Start Time</th>
          <td mat-cell *matCellDef="let delivery">{{ delivery.start_time }}</td>
        </ng-container>

        <!-- End Time Column -->
        <ng-container matColumnDef="end_time">
          <th mat-header-cell *matHeaderCellDef>End Time</th>
          <td mat-cell *matCellDef="let delivery">{{ delivery.end_time }}</td>
        </ng-container>

        <!-- Driver ID Column -->
        <ng-container matColumnDef="driver_id">
          <th mat-header-cell *matHeaderCellDef>Driver ID</th>
          <td mat-cell *matCellDef="let delivery">{{ delivery.driver_id }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let delivery">
            <button mat-icon-button (click)="editDelivery(delivery._id)">
              <mat-icon>edit</mat-icon>

            </button>
            <button mat-icon-button (click)="deleteDelivery(delivery._id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Table Rows for Deliveries -->
        <tr mat-header-row *matHeaderRowDef="deliveryColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: deliveryColumns"></tr>
      </table>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center" style="height: 50vh;">
      <div class="">
        <button mat-raised-button color="primary" (click)="showDeliveryFormPanel()">
          <mat-icon>add</mat-icon> Créer une Livraison
        </button>
      </div>
    </div>
  </div>
  <!-- Fin du row des deliveries -->
</div>
