

label {
  font-weight: bold;
}

input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}

/* Styles for the Delivery Details component */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.det{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  height: 70vh;
}
.det button{
  margin: 20px;
  padding: 20px;
}

.delivery-details {

  display: flex;
  flex-direction: row;
  align-items: right;
  margin: 20px;
  padding: 20px;

  border-radius: 5px;
  margin-right: 0%;
}

.delivery-details h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
}

.delivery-details form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.delivery-details label {
  font-weight: bold;
}

.delivery-details input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px 0;
}

.delivery-details button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delivery-details button:hover {
  background-color: #0056b3;
}

#map {
  height: 70vh;

  border: 1px solid #ccc;

  border-radius: 5px;
}

.delivery-info,
.package-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  margin-bottom: 20px;
  max-width: 400px;
  border-radius: 5px;
  background-color: #fff;
}

.delivery-info h3,
.package-info h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
