<div class="row">
  <div class="row ">
    <div class="col-md-12">
      <form (submit)="loadDeliveryDetails($event)">
        <label for="delivery-id">Delivery ID</label>
        <input type="text" [(ngModel)]="deliveryIdInput" id="delivery-id" placeholder="Enter Delivery ID"
          class="form-control" [ngModelOptions]="{ standalone: true }" />
        <button type="submit" class="btn btn-primary">Load Delivery</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <mat-card *ngIf="packageDetails">
        <mat-card-header>
          <mat-card-title>Package Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Package ID:</strong> {{ packageDetails._id }}</p>
          <p><strong>Description:</strong> {{ packageDetails.description }}</p>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="packageDetails && deliveryDetails">
        <mat-card-header>
          <mat-card-title>Delivery Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Delivery Status:</strong> {{ deliveryDetails.status }}</p>
          <p><strong>Current Latitude:</strong> {{ deliveryDetails.location.lat }}</p>
          <p><strong>Current Longitude:</strong> {{ deliveryDetails.location.lng }}</p>
        </mat-card-content>
      </mat-card>


    </div>
    <div id="map" #map class=" col-md-6"></div>
    <div class="det col-md-3">
      <button style="background-color: rgb(25, 43, 207); color:black" id="picked-up" (click)="changeStatus('picked-up')"
        [ngClass]="{'active-button': currentStatus === 'open', 'inactive-button': currentStatus !== 'open'}">PICKED-UP</button>
      <button style="background-color: rgb(173, 222, 27); color:black" id="in-transit"
        (click)="changeStatus('in-transit')"
        [ngClass]="{'active-button': currentStatus === 'picked-up', 'inactive-button': currentStatus !== 'picked-up'}">In-Transit</button>
      <button style="background-color: rgb(20, 181, 12); color:black" id="delivered" (click)="changeStatus('delivered')"
        [ngClass]="{'active-button': currentStatus === 'in-transit', 'inactive-button': currentStatus !== 'in-transit'}">Delivered</button>
      <button style="background-color: rgb(135, 27, 21); color:black" id="failed" (click)="changeStatus('failed')"
        [ngClass]="{'active-button': currentStatus === 'in-transit', 'inactive-button': currentStatus !== 'in-transit'}">Failed</button>
    </div>
  </div>
</div>
