<div class="login-box">
  <h1>LOGIN</h1>
  <form (ngSubmit)="login()">
    <div class="user-box">
      <input type="text" name="email" [(ngModel)]="formData.email" required >

      <label>Email</label>
      <div *ngIf="formData.email && !isEmailValid()">
        L'adresse e-mail n'est pas valide.
      </div>
    </div>
    <div class="user-box">
      <input type="password" name="password" [(ngModel)]="formData.password" required>
      <label>Password</label>
    </div>

    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      CONNEXION
    </button>
    <a href="/register">S'inscrire</a>
  </form>

  <div class="error-message" *ngIf="error">{{ error }}</div>
</div>
